$black: #000000;
$white: #ffffff;
$blue:  #002b32;
$gray:  #f3f2f0;

$media-desktop: 1024px;
$media-tablet: 768px;
$media-mobile-md: 480px;
$media-mobile-sm: 320px;

$primary-color: $blue;

$speed-animation: 0.3s;